form {
    border: 3px solid #f1f1f1;
    background-color: honeydew;
  }

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;;
  }
.container {
    padding: 16px;
  }
body{
  font-size: 20px;
  text-align: center;
  background-color: aliceblue;
  padding: 20px 20px 20px 20px;
  margin: 20px auto;
}
